@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&family=Ubuntu:wght@300;400&display=swap');

/* body {
  margin: 0;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-bg);
 
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}                   
:root {
  --dark-bg: #081731;
  --lightdark-bg: #0F1F43;
  --lightgreen-text: #00FFDB;
  --lightgreen-hover: #64ffda1a;
  --img-overlay: #638483;
  --grey-text: #8890B3;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--dark-bg);
} */

 html {
   /* font-size: 10px; */
   /* font-family: Ubuntu; */
   background-color: var(--dark-bg);
   /* color: var(--grey-text); */

 }




ul,li  {
  list-style: none;

}

a {
  text-decoration: none;

}





